body {
  font-size: 30px; }

.bottom {
  margin: 0;
  height: auto;
  background-color: dimgrey; }

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.icons img {
  margin: 1em; }

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: aliceblue;
  font-size: larger;
  margin-left: 1em;
  margin-right: 1em; }

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: aliceblue;
  font-size: large;
  margin-top: 1em; }

.adress_written, .number_1, .number_2 {
  text-align: center; }

.tel, .adress {
  padding-left: 1em; }

@media screen and (max-width: 460px) {
  .main_navigation {
    flex-direction: column;
    background-color: brown;
    align-items: flex-start; }
  .navigation_item a {
    color: lightgray;
    font-weight: 900; } }

.header-container-navbar {
  display: block;
  height: 100%; }

.header-navbar {
  display: flex; }

.header-nav-el {
  background-color: rgba(51, 1, 2, 0.8);
  display: block;
  margin-top: 1.5em;
  margin-right: 2em;
  padding: 5px 15px;
  border-left: 6px solid rgba(255, 255, 255, 0.9);
  border-right: 6px solid rgba(255, 255, 255, 0.9);
  border-bottom: 4px solid rgba(255, 255, 255, 0.9);
  border-radius: 50px; }
  .header-nav-el a {
    font-size: 1em;
    color: rgba(255, 255, 255, 0.9);
    font-family: Purisa; }

.hidden-menu {
  margin-top: 91px;
  display: none; }

.hidden-menu-el {
  background-color: rgba(51, 1, 2, 0.8); }
  .hidden-menu-el a {
    display: block;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.9);
    font-family: Purisa;
    padding-left: 10px; }

.middle3 {
  margin: 0;
  height: 100%;
  width: 100%; }

.middle3-backgr {
  width: 100%;
  background-color: darkred;
  border-bottom: 20px solid rgba(51, 1, 2, 0.8); }

.works-container {
  margin: 0;
  padding: 0;
  background-color: rgba(51, 1, 2, 0.8); }

.works-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.works-el {
  display: block;
  border: 5px solid rgba(255, 255, 100, 0.9);
  padding: 1em;
  margin: 1em;
  background-color: #fff039;
  border-radius: 60px 10px 60px 10px;
  box-shadow: 10px 20px 30px rgba(252, 252, 252, 0.71); }
  .works-el p {
    text-align: center; }

.header-works-nav {
  background-color: rgba(255, 255, 255, 0.7);
  border-left: 6px solid rgba(51, 1, 2, 0.8);
  border-right: 6px solid rgba(51, 1, 2, 0.8);
  border-bottom: 4px solid rgba(51, 1, 2, 0.8); }
  .header-works-nav a {
    color: darkred; }

body {
  color: red;
  background-color: red;
  height: auto;
  min-height: 100%;
  padding: 0;
  margin: 0 auto;
  display: block; }

a {
  text-decoration: none; }

header {
  display: flex;
  flex-direction: column; }

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  position: fixed;
  height: 91px;
  background-color: rgba(1, 2, 3, 0.8);
  width: 100%; }

.header_logo {
  margin: 0;
  background-color: inherit;
  padding-left: 2em; }

.header_info_company_name {
  padding: 5px;
  margin-left: 2em;
  font-weight: 900;
  font-family: Purisa; }
  .header_info_company_name a {
    color: rgba(255, 255, 255, 0.9); }

.middle {
  text-align: center;
  background-color: darkred;
  padding: 30px; }

.middle img {
  border-bottom: 1px solid white; }

.middle h2 {
  display: block;
  font-size: 24px;
  line-height: 26px;
  margin-top: 44px;
  font-family: "proxima-semibold",Verdana,Helvetica,sans-serif; }

.middle h3 {
  color: rgba(255, 255, 255, 0.9);
  font-family: Purisa; }

.middle-M h2 {
  color: rgba(255, 255, 255, 0.9);
  font-family: Purisa; }

.middle-M img {
  border: none; }

.middle-Lisa h3 {
  color: red;
  font-family: cursive; }

.middle_2 {
  display: block;
  line-height: 26px;
  margin-top: 44px; }

.middle_2-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px; }

@media screen and (max-width: 854px) {
  .header {
    flex-direction: column; }
  .header-navbar {
    justify-content: space-around; }
  .header-nav-el {
    margin-right: 0;
    margin-top: 0.5em; } }

@media screen and (max-width: 504px) {
  .header-container-navbar {
    display: none; }
  .hidden-menu {
    display: flex;
    flex-direction: column; } }

@media screen and (max-width: 460px) {
  .middle_2-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
  .middle_2-left img {
    max-width: 150px;
    height: auto; }
  .middle img {
    max-width: 150px;
    height: auto; } }

.middle_2-left {
  color: bisque;
  width: 40%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.bart_frase {
  display: block;
  margin-top: 50px;
  font-family: "proxima-semibold",Verdana,Helvetica,sans-serif;
  font-weight: bold;
  text-align: center; }

.middle_2-left h2 {
  display: block;
  line-height: 26px;
  margin-top: 44px; }

.middle_2-right {
  width: 40%;
  color: gold;
  text-align: center;
  margin-top: 50px; }

.bart_frase_2 {
  margin-top: 50px;
  font-weight: bold; }

.header_info_company_name {
  color: rgba(123, 123, 123, 0.9);
  font-size: 1em; }

.main_frase {
  display: flex;
  color: darkred;
  border-bottom: 20px solid rgba(51, 1, 2, 0.8);
  margin-top: 121px;
  flex-direction: row;
  justify-content: center;
  text-align: center; }
  .main_frase h1 {
    font-weight: 900;
    font-family: Purisa;
    color: white; }

.main_navigation {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  border: 1px solid darkred; }

li {
  list-style-type: none;
  margin: 15px;
  display: block;
  flex-basis: 100%;
  text-align: center;
  border: 1px solid darkred; }
  li a {
    text-decoration: none;
    color: darkred;
    display: block; }
  li a:active {
    color: white; }
