body {
  font-size: 30px; }

.bottom {
  margin: 0;
  height: auto;
  background-color: dimgrey; }

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.icons img {
  margin: 1em; }

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: aliceblue;
  font-size: larger;
  margin-left: 1em;
  margin-right: 1em; }

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: aliceblue;
  font-size: large;
  margin-top: 1em; }

.adress_written, .number_1, .number_2 {
  text-align: center; }

.tel, .adress {
  padding-left: 1em; }

body {
  color: red;
  background-color: red;
  height: auto;
  min-height: 100%;
  padding: 0;
  margin: 0 auto;
  display: block; }

header {
  display: flex;
  flex-direction: column; }

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  position: fixed;
  height: 91px;
  background-color: rgba(1, 2, 3, 0.8);
  width: 100%; }

.header_logo {
  margin: 0; }

.header_logo img {
  padding: 0; }

.middle {
  text-align: center;
  background-color: darkred;
  padding: 30px; }

.middle img {
  border-bottom: 1px solid white; }

.middle h2 {
  display: block;
  font-size: 24px;
  line-height: 26px;
  margin-top: 44px;
  font-family: "proxima-semibold",Verdana,Helvetica,sans-serif; }

.middle_2 {
  display: block;
  line-height: 26px;
  margin-top: 44px; }

.middle_2-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px; }

.middle_2-left {
  color: bisque;
  width: 40%;
  text-align: center; }

.bart_frase {
  display: block;
  margin-top: 50px;
  font-family: "proxima-semibold",Verdana,Helvetica,sans-serif;
  font-weight: bold;
  text-align: center; }

.middle_2-left h2 {
  display: block;
  line-height: 26px;
  margin-top: 44px; }

.middle_2-right {
  width: 40%;
  color: gold;
  text-align: center;
  margin-top: 50px; }

.bart_frase_2 {
  margin-top: 50px;
  font-weight: bold; }

.header_info_company_name {
  color: rgba(123, 123, 123, 0.9);
  font-size: 2em; }

.main_frase {
  display: flex;
  color: darkred;
  border-top: 1px dashed darkred;
  border-bottom: 1px dashed darkred;
  margin-top: 91px;
  flex-direction: row;
  justify-content: center;
  text-align: center; }

.main_navigation {
  padding: 0;
  margin: 0;
  align-items: center;
  display: flex;
  justify-content: space-around;
  border: 1px solid darkred; }

li {
  list-style-type: none;
  margin: 15px; }
  li a {
    text-decoration: none;
    color: darkred; }
  li a:active {
    color: white; }
