body {
  font-size: 30px; }

.bottom {
  margin: 0;
  height: auto;
  background-color: dimgrey; }

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

img {
  margin: 1em; }

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: aliceblue;
  font-size: larger;
  margin-left: 1em;
  margin-right: 1em; }

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: aliceblue;
  font-size: large;
  margin-top: 1em; }

.adress_written, .number_1, .number_2 {
  text-align: center; }

.tel, .adress {
  padding-left: 1em; }

body {
  color: red;
  background-color: yellow;
  height: auto;
  min-height: 100%;
  padding: 0;
  margin: 0 auto;
  display: block; }

header {
  display: flex;
  flex-direction: column; }

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch; }

.header_logo {
  margin: 15px; }

.header_info_company_name {
  color: darkred;
  font-size: 2em; }

.main_frase {
  display: flex;
  color: darkred;
  border-top: 1px dashed darkred;
  border-bottom: 1px dashed darkred;
  flex-direction: row;
  justify-content: center;
  text-align: center; }

.main_navigation {
  padding: 0;
  margin: 0;
  align-items: center;
  display: flex;
  justify-content: space-around;
  border: 1px solid darkred; }

li {
  list-style-type: none;
  margin: 15px; }
  li a {
    text-decoration: none;
    color: darkred; }
  li a:active {
    color: white; }
