.bottom
  margin: 0
  height: auto
  background-color: dimgrey

.icons

  display: flex
  flex-direction: row
  justify-content: space-around

.icons img
  margin: 1.1em

.main
  display: flex
  flex-direction: row
  justify-content: space-between
  color: aliceblue
  font-size: larger
  margin-left: 1em
  margin-right: 1em

.contacts
  display: flex
  flex-direction: column
  justify-content: flex-start
  color: aliceblue
  font-size: large
  margin-top: 1em

.adress_written, .number_1, .number_2
  text-align: center

.tel, .adress
  padding-left: 1em
