//.hidden-menu
   margin-top: 91px
   display: none
   position: absolute

//.hidden-menu-el
   background-color: rgba(51,1,2,0.8)

   a
     display: block
     font-size: 1em
     color: rgba(255,255,255,0.9)
     font-family: Purisa
     padding-left: 10px
.header-navbar p
    display: none

@media screen and (max-width: 600px)
   .header-nav-el
       display: none

   .header-container-navbar
       background-color: rgba(91, 0, 1, 1)
       height: auto
       p
           display: inline-block
           padding: 0
           margin: 0
           font-size: larger
           border: 3px solid rgba(255,255,255,1)
           width: 100%
           text-align: center
           font-weight: 700
           font-family: Purisa
           color: rgba(255,255,255,1)

   .header-container-navbar:hover
     .header-container-navbar
          background-color: rgba(91, 0, 1, 0.55)
          p
             display: inline-block
             padding: 0
             margin: 0


     .header-navbar
           display: flex
           flex-direction: column
           background-color: rgba(51,1,2,0.9)
           p
              display: none


     .header-nav-el
           display: block
           width: inherit

     .header-na-el-color
           background-color: black