.works-container
   margin: 0
   padding: 0
   background-color: rgba(51,1,2,0.8)


.works-row
   display: flex
   flex-direction: row
   justify-content: center
   align-content: center


.works-el
   display: block
   border: 5px solid rgba(255,255,100,0.9)
   padding: 1em
   margin: 0
   opacity: 0.8

.header-works-nav
   background-color: rgba(255,255,255,0.7)
   border-left: 6px solid rgba(51,1,2,0.8)
   border-right: 6px solid rgba(51,1,2,0.8)
   border-bottom:  4px solid rgba(51,1,2,0.8)
   a
     color: darkred

@media screen and (max-width: 600px)

   #works-buttonLeft, #works-buttonRight
      display: block
      width: 5%
      margin: 45% 0
      height: 10%

   .sl
       width: auto
       height: 250px



   .homerdiv
      width: 100%
      height: auto
      display: block