@import "part"
@import "footer"
@import "nav-menu"
@import "header-navbar"
@import "hidden-menu"
@import "middle3"
@import "works"

body
  color: red
  background-color: red
  height: auto
  min-height: 100%
  padding: 0
  margin: 0 auto
  display: block

a
   text-decoration: none


header
   display: flex
   flex-direction: column

.header
   display: flex
   flex-direction: row
   justify-content: space-between
   align-items: stretch
   position: fixed
   height: 91px
   background-color: rgba(1,2,3,0.8)
   width: 100%

//.header-left-part
// display: flex
//  flex-direction: row
//  justify-content: space-between


.header_logo
   margin: 0
   background-color: inherit
   padding-left: 2em

//.header_logo img
//   padding: 0

.header_info_company_name
    padding: 5px
    margin-left: 2em
    font-weight: 900
    font-family: Purisa
    a
      color: rgba(255,255,255,0.9)

.middle
  text-align: center
  background-color: darkred
  padding: 30px

.middle img
  border-bottom: 1px solid white


.middle h2
    display: block
    font-size: 24px
    line-height: 26px
    margin-top: 44px
    font-family: "proxima-semibold",Verdana,Helvetica,sans-serif

.middle  h3
      color: rgba(255,255,255,0.9)
      font-family: Purisa

.middle-M
     h2
       color: rgba(255,255,255,0.9)
       font-family: Purisa
     img
        border: none

.middle-Lisa
     h3
       color: red
       font-family: cursive








.middle_2
    display: block
    line-height: 26px
    margin-top: 44px

.middle_2-container
     display: flex
     flex-direction: row
     justify-content: space-around
     margin: 20px

@media screen and (max-width: 854px)
  .header
    flex-direction: column

  .header-navbar
    justify-content: space-around

  .header-nav-el
     margin-right: 0
     margin-top: 0.5em


@media screen and (max-width: 504px)
   .header-container-navbar
      display: none

   .hidden-menu
      display: flex
      flex-direction: column

@media screen and (max-width: 460px)
  .middle_2-container
    flex-direction: column
    justify-content: center
    align-items: center
    flex-wrap: wrap
  .middle_2-left img
    max-width: 150px
    height: auto
  .middle img
    max-width: 150px
    height: auto

.middle_2-left
      color: bisque
      width: 40%
      text-align: center
      display: flex
      flex-direction: column
      justify-content: center

.bart_frase
       display: block
       margin-top: 50px
       font-family: "proxima-semibold",Verdana,Helvetica,sans-serif
       font-weight: bold
       text-align: center

.middle_2-left h2
       display: block
       line-height: 26px
       margin-top: 44px



.middle_2-right
       width: 40%
       color: gold
       text-align: center
       margin-top: 50px

.bart_frase_2
       margin-top: 50px
       font-weight: bold




.header_info_company_name
  color: rgba(123,123,123,0.9)
  font-size: 1em

.main_frase
  display: flex
  color: darkred
  border-bottom: 20px solid rgba(51,1,2,0.8)
  margin-top: 121px
  flex-direction: row
  justify-content: center
  text-align: center
  h1
    font-weight: 900
    font-family: Purisa
    color: rgba(255,255,255,1)



.main_navigation
  padding: 0
  margin: 0
  display: flex
  justify-content: space-around
  border: 1px solid darkred

li
  list-style-type: none
  margin: 15px
  display: block
  flex-basis: 100%
  text-align: center
  border: 1px solid darkred
  a
    text-decoration: none
    color: darkred
    display: block
  a:active
    color: white


